libs/
node_modules/
node_modules.zip
reports/
server/public/*
npm-debug.log
**/build/
**/.sass-cache/
**/*.css.map
**/*.swp
package-lock.json
server/public/stylesheets/style.css
server/views/index.ejs
